.title {
    background-color: rgb(154, 154, 255);
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 2px solid black;
}

.image {
    margin-right: auto;
    margin-left: auto;
    display: block;
  
}

#text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}